.mail {
    border: 2px solid transparent;
    padding: 0 0.2em;
    color: red;
    font-size: 1em;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
}

.mail:hover {
    color:black;
  }

.formulario {
  display: grid;
  width: 48%;
  gap: 20px;
  margin: auto;
}

.botonContacto {
  background: #D7D7ED;
  color: black;
  padding: 5px;
  border-radius: 16px;
  margin: 0px 10px 0px 0px;
  box-shadow: 3px 3px 0px #E885B0;
}

#nombre, #email, #comentario, #apellido {
  border-radius: 16px;
  border-color: #D7D7ED;
}

.botonContacto:hover{
  background: #E885B0;
  color: white;
  font-weight: 500;
  transition: 0.5s;
}

#comentario {
  resize: vertical;
  height: 150px;
  background-color: aquamarine;
  border-width: 5px;
  box-shadow: 3px 3px 0px #65656514;
  color: black;
}

input {
    border: none;
}