.cartEstilo {
    width: 28px;
    margin-left: 8px;
}

.cartEstilo:hover {
    width: 26px;
    filter: drop-shadow(1px 2px 2px rgba(13, 208, 133, 2));
}


.cartNumerito {
    color: black;                
    font-weight: bold;            
    background-color: aquamarine;   
    border-radius: 50%;          
    padding: 8px 15px;            
    text-decoration: none;       
    display: inline-block;
    margin-left: 8px;  
  }
