.contenedorCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
}

.card {
  border: 2px solid rgb(143, 255, 218);
  border-radius: 16px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin: 0.4rem;
}

.zoom {
  transition: transform 0.3s ease;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.zoom:hover {
  transform: scale(1.25);
}
