#root {
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.contenedorTotal {
  min-height: 90dvh;
  display: grid;
  grid-template-rows: auto auto auto auto;
}

input {
  background-color: rgba(127, 255, 212, 0.549);
  padding-left: 4px;
  border-radius: 8px;
  border-color: aquamarine;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  color: black;
}
